@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #17b978;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
